<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PickX - Transparent Academic Application Portal</title>
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <!-- Navigation -->
  <nav class="scrollhide-nav">
    <div class="top-bar">
      <div class="top-bar-left" style="margin-left:5%;">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/"><img class="orbit-image" src="/images/logo.png" style="width:150px; height:80px"></a></li>
          <li style="padding-top:3%">
            <a href="#" style="color: #FFFFFF;">Categories</a>
            <ul class="menu vertical">
              <li><a href="#" style="color: #FFFFFF;">College</a></li>
              <li><a href="/listUniversity" style="color: #FFFFFF;">Undergraduates</a></li>
              <li><a href="#" style="color: #FFFFFF;">Postgraduate Courses</a></li>
            </ul>
          </li>
          <li style="padding-top:3%"><a href="#" style="color: #FFFFFF;">About Us</a></li>
          <li style="padding-top:3%"><a href="#" style="color: #FFFFFF;">FAQ</a></li>
        </ul>
      </div>
      <div class="top-bar-right" style="margin-right:10%;">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <form action="/showApplications">
	          <li><button type="submit" class="button">Search</button></li>
	      </form>
          <li><button type="button" class="button" style="margin-left:10%; width:100%">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- /Navigation -->
</head>
<body>
  <div>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" style= "margin-top:5%">
      <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        <li class="is-active orbit-slide">
          <img class="orbit-image" src="/images/cover.png" alt="Space">
          <figcaption class="orbit-caption">Your ideal life begins here.</figcaption>
        </li>
        <li class="orbit-slide">
          <img class="orbit-image" src="/images/cover2.png" alt="Space">
          <figcaption class="orbit-caption">Start your applications now!</figcaption>
        </li>
        
      </ul>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      </nav>
    </div>
  </div>


  <div style="margin:10%">
    <h4 class="normalBold">Categories</h4>
    <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-3">
      <div class="cell">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');" >
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style = "background: url(/images/preu.jpg) 0 0 no-repeat;">
              <span>Colleges</span>
            </div>
            <div class="flip-card-inner-back" id="button1">
              <h3 class="flip-card-inner-back-title">A-Levels, Diploma, etc.</h3>
              <p class="flip-card-inner-back-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloremque accusantium, repellendus ex debitis molestias, recusandae dignissimos delectus.</p>
              <a href="#" class="button success" >Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background: url(/images/academic_mind.jpg) 0 0 no-repeat;" >
              <span>Undergraduates</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">Undergraduate Degrees</h3>
              <p class="flip-card-inner-back-text">Start your exciting journey with us now!</p>
              <a href="listUniversity" class="button success" id="bookUndergrad">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background: url(/images/post.jpg) 0 0 no-repeat;" >
              <span>Postgraduate Courses</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">Course Masters</h3>
              <p class="flip-card-inner-back-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloremque accusantium, repellendus ex debitis molestias, recusandae dignissimos delectus.</p>
              <a href="#" class="button success">Book now</a>
            </div>

          </div>

        </div>

      </div>

      <!--div class="cell">
        <img class="thumbnail" src="https://placehold.it/550x550">
        <h5>My Site</h5>
      </div>
      <div class="cell">
        <img class="thumbnail" src="https://placehold.it/550x550">
        <h5>My Site</h5>
      </div>
      <div class="cell">
        <img class="thumbnail" src="https://placehold.it/550x550">
        <h5>My Site</h5>
      </div-->
      
    </div>
  </div>

  <script src="/javascripts/vendor/jquery.js"></script>
  <script src="/javascripts/vendor/what-input.js"></script>
  <script src="/javascripts/vendor/foundation.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

<div class="three-column-footer-contact-form-container">
  <footer class="three-column-footer-contact-form" data-equalizer data-equalize-by-row="true">
    <div class="footer-left" data-equalizer-watch>
      <div class="baseline">
        <div class="contact-details">
          <h6>Contact details</h6>
          <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</p>
          <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a></p>
          <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, County, Country</p>
        </div>
        <div class="newsletter">
          <div class="input-group">
            <h8>Sign up for our newsletter</h8>

            <input class="input-group-field" type="email" placeholder="Email address" style="margin-bottom:5%;">
          </div>
          <a class="button expanded" href="#" style="background-color:#6495ED">Submit</a>
        </div>
      </div>
    </div>
    <div class="footer-center" data-equalizer-watch>
      <div class="baseline">
        <div class="newsletter">
          <h6>Contact form</h6>
          <div>
            <input class="input-group-field" type="text" placeholder="Name" style="margin-bottom:2%;">
            <input class="input-group-field" type="email" placeholder="Email address" style="margin-bottom:2%;">
            <textarea placeholder="Message" style="margin-bottom:2%;"></textarea>
          </div>
          <a class="button expanded" href="#" style="background-color:#6495ED">Submit</a>
        </div>
      </div>
    </div>
    <div class="footer-right" data-equalizer-watch>
      <div class="baseline">
        <img class="thumbnail" src="/images/filler.jpg">
        <h6>Opening times</h6>
        <p>Mon - Fri 9:00am - 5:00pm</p>
        <p>Sat 9:00am - 8:00pm</p>
        <p>Sun 9:00am - 4:00pm</p>
        <div class="social">
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>
</div>
</html>
